body {
  background-color: darkgrey;
}

h3#fromPWC {
  font-style: italic;
}

th {
  padding-right: 6px;
}

#sloganText {
  text-align: center;
  margin-left: 45.7rem;
}

#buildingPic {
  height: 300px;
  width: 500px;
  margin-right: 50%;
}
