body {
  background-color: darkgrey;
}

h3#fromPWC {
  font-style: italic;
}

th {
  padding-right: 6px;
}

table {
  margin-left: 38%;
}

#buildingPic {
  height: 300px;
  width: 500px;
  margin-right: 50%;
}
